body {
  max-width: 1400px;
  margin: auto;
  background-color: #f9f9f9;
}

input,
button {
  outline: none;
  border: none;
}

.Header {
  padding: 30px 0px;
  background-color: #fff;
}

.head-text {
  font-family: Pacifico;
  color: #000;
  font-size: 2rem;
  text-align: center;
}

.input[type="file"] {
  background-color: #000 !important;
}

.bar-font {
  font-family: Barlow;
}

.footer-link:focus {
  font-weight: 600;
}

@media (min-width: 300px) and (max-width: 600px) {
  .mx-20 {
    margin: 2rem 2rem;
  }
  .w-fu {
    width: 100%;
  }
}
